**/__pycache__/
**/checkpoints/
# **/test_results/
# Ignore all logs
logs/LongForecasting/Old
logs/LongForecasting/MS_seq_len_336_old
logs/LongForecasting/M_seq_len_336_old
logs/LongForecasting/S_seq_len_336_old
*.mp4